include LICENSE
include LICENSING.md
include README.md
include CHANGELOG.md
recursive-include mayaastrolib/resources *.se1 *.cat *.txt *.md
prune tests
prune docs
prune recipes
prune contrib
prune prompts
